body {
    background: linear-gradient(#0d6efd24, #0d6efd05);
    background-attachment: fixed;
    --red: #dc3545;
    --green: #198754;
    --gray: #6c757d;
}


input, textarea {
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input:focus, textarea:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

input[type=checkbox] {
    padding: 0;
    width: 1rem;
    height: 1rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

input[type=checkbox]:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

button {
    cursor: pointer;
    padding: .375rem .75rem;
    border-radius: .375rem;
    font-size: 1rem;
    background-color: transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-red {
    color: var(--red);
    border: 1px solid var(--red);
}

.btn-red:hover {
    color: white;
    background-color: var(--red);
}

.btn-gray {
    color: var(--gray);
    border: 1px solid var(--gray);
}

.btn-gray:hover {
    color: white;
    background-color: var(--gray);
}

#main-header {
    text-align: center;
    font-size: calc(25px + 2vw);
}

#partner-display-container {
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    justify-items: center;
}

.partner-display {
    max-width: 400px;
}

.partner-display img {
    height: 160px;
    object-fit: contain;
    width: 100%;
}

.top-bar {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar span {
    font-weight: 500;
    font-size: 1.15rem;
}

.top-bar button {
    /* hides button but it stays tabbable */
    z-index: -1;
}

.partner-display:is(:hover, :focus, :active) button, .partner-display button:is(:focus, :active) {
    z-index: 0;
}

#add-partner-container {
    display: flex;
    justify-content: center;
}

#add-partner-container button {
    font-size: 1.25rem;
}

.partner-details-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    min-width: 300px;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.partner-details-form button {
    margin: .5rem;
}

.partner-details-form table {
    border-collapse: separate;
    border-spacing: .5rem;
}

.partner-details-form table td:first-child {
    text-align: right;
}

.partner-details-form table td:last-child {
    width: 100%;
}

.partner-details-form table input[type=text], .partner-details-form table textarea {
    width: 100%;
    box-sizing: border-box;
}

.partner-details-form table input[type=checkbox] {
    vertical-align: middle;
}

.box-shadow {
    background-color: white;
    padding: 1rem;
    box-shadow: 1px 1px 4px 2px #0000001f;
}

.active {
    color: var(--green);
}

.inactive {
    color: var(--red);
}
